<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lyne</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Lyne</string>
			<key>CFBundleTypeName</key>
			<string>Lyne</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).LyneDoc</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lyne</string>
			</array>
		</dict>
	</array>
	<key>MDItemKeywords</key>
	<string>line,guide,rectangle,precision,perfection,layout</string>
</dict>
</plist>
